#display {
  background: #ffc21c;
  border-radius: 5px;
  color: #f72585;
  height: 15%;
  margin: 5px;
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 2px 1px 1px #f72585;
  transition-duration: 0.4s;
  cursor: pointer;
}
#display:hover {
  color: #000000;
}
