@import url("https://fonts.googleapis.com/css?family=Viga&display=swap");

body {
  background-color: #320b8d;
}
#drum-machine {
  display: flex;
  flex-direction: column;
}
.drum-h1 {
  font-family: "Viga", sans-serif;
  color: #ffc21c;
  font-size: 60px;
  text-shadow: -3px 2px #f72585;
  transition-duration: 0.5s;
  cursor: grab;
  margin: auto;
  margin-top: 100px;
  height: 150px;
}
.drum-h1:hover {
  text-shadow: 4px 0px #f72585;
}
@media only screen and (max-width: 768px) {
  .drum-h1 {
    font-size: 50px;
  }
}
